.titleContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.titleContainer h1 {
  color: transparent;
}
.imageContainer{
  width:140%;
  height:102vh;
  position:relative;
  top:-45px;
  left:-45px;
  background-color: rgba(0, 0, 0, 0.432);
}

.freeDeliveryContainer{
 
  width:50%;
  position:relative;
  top:-270px;
  left:20px;
  transform:rotate(-10deg);
}

/*SMALL PHONES*/


@media (min-width: 480px) {

  .imageContainer{
    width:70%;
    height:102vh;
    position:relative;
    top:-40px;
    left:-45px;
  }
  .freeDeliveryContainer{
display:none;
  }

}


/*TABLET*/
@media (min-width: 768px) {
  .imageContainer{
    width:60%;
    height:102vh;
    position:relative;
    top:-50px;
    left:-45px;
  }
  .freeDeliveryContainer{
   display:none;
  }
}

/*LAPTOP AND MORE*/
@media (min-width: 1024px) {
  .imageContainer{
    width:50%;
    height:102vh;
    position:relative;
    top:-44px;
    left:-45px;
  }
  .freeDeliveryContainer{
    display:none;
  }
}
