.aboutContainer {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: rgba(224, 144, 52, 0.473);
  position: relative;
}

.imageContainerAboutTop {
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: rgba(184, 0, 0, 0.548);
  top: 0;
  left: 0;
}

.title{
  font-size:2em;
}


.imageContainer{
  padding:2em;
  max-width: 600px;
  text-align: center;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 0.25rem;
  box-shadow: 0 20px 20px -3px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.faces{
  border-radius:50%;
}
.imageContainerAboutBottom {
  width: 100%;
  height: 100px;
  background-color: rgba(184, 0, 0, 0.548);
  position: absolute;
  bottom: 0;
  left: 0;
}

.aboutContainer article {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
  line-height: 1.5em;
}

.aboutContainer article h2 {
  font-style: italic;
  font-family: "Open Sans";
  font-size: 1.5em;
  text-align: center;
  padding-top: 3em;
}
.aboutContainer article p {
  margin-top: 2em;
  font-size: 1em;
  font-family: Arapey;
}

.underline {
  font-size: 1em;
  text-decoration: black wavy underline;
  color: transparent;
  margin-bottom:2em;
}

@media (min-width: 480px) {
.imageContainer{
  width:300px;
}
}

/*TABLET*/
@media (min-width: 768px) {
  .title {
    font-size:4em;
  }
  .underline {
    font-size: 1.9em;
    padding-bottom:1em;
  }
  
  
  .imageContainer{

  }
  .roundImageContainer{
    display:grid;
    grid-template-areas:"item1 item2"
    "item3 item3" ;
    }
    .imageContainer:nth-child(1){
    grid-area: item1;
    }
    .imageContainer:nth-child(2){
      grid-area: item2;
    }
    .imageContainer:nth-child(3){
      grid-area: item3;
    }
  
  
  
  
  
  
  /* .title {

    font-size:5em;
  }
  .underline {
    font-size: 1.9em;
    padding-bottom:1em;
  }

  .aboutContainer article p {
    font-size: 1.3em;
    line-height: 2em;
  }
  .imageContainerAboutTop {
    height: 140px;
  }
  .imageContainerAboutBottom {
    height: 140px;
  } */
}

/*LAPTOP AND MORE*/
@media (min-width: 1024px) {
  .roundImageContainer{
    display:grid;
    grid-template-areas:"item1 item3 item2";
    }

  .aboutContainer article {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 15em;
  }
  .aboutContainer article h2 {
    font-size: 3em;
    padding-top: 2.6em;
  }
  .imageContainerAboutTop {
    height: 170px;
  }
  .imageContainerAboutBottom {
    height: 170px;
  }
}
