.title {
  text-align: center;
}
.underline {
  font-size: 1.2em;
  text-align: center;
  text-decoration: black wavy underline;
  color: transparent;
  margin-bottom: 1em;
}

.formContainer label,
.formContainer input {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0.5em;
}

.formContainer input {
  padding: 0.7em;
  margin-bottom: 0.7em;
  box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.25);
  border: none;
}

.confirmButton {
  display: block;
  width: 100px;
  height: 50px;
  background-color: rgb(255, 178, 13);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1em;
  margin: 30px auto;
  box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.25);
}
