@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Open+Sans:ital,wght@1,800&display=swap");
.container {
  padding: 0;
}

/*All this CSS is for Mobile First. Please use devTools Samsung Galaxy Fold*/
.main {
  /*min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  */
}

.titleDiv {
  position: absolute;
  left: 10%;
  top: 30%;
}

.underline {
  font-size: 1em;
  text-decoration: rgb(177, 121, 18) wavy underline;
  /* text-shadow:  -3px 4px black; */
  color: transparent;
}

.titleContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("../images/landingImage.jpg") center/cover no-repeat;
}

.titleContainer h1 {
  color: transparent;
  font-style: italic;
  font-family: "Open Sans";
  font-size: 2em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(247, 184, 68);
  text-shadow: -3px 4px black;
}

.titleContainer p {
  color: rgb(247, 184, 68);
  margin-top: 1.5em;
  font-size: 1em;
  font-family: Arapey;
  font-style: italic;
}
.aboutContainer {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: rgb(224, 144, 52);
  position: relative;
}

.imageContainerAboutTop {
  width: 100%;
  height: 100px;
  background-color: rgb(136, 22, 22);
  position: absolute;
  top: 0;
  left: 0;
}
.imageContainerAboutBottom {
  width: 100%;
  height: 100px;
  background-color: rgb(136, 22, 22);
  position: absolute;
  bottom: 0;
  left: 0;
}

.aboutContainer article {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
  line-height: 1.5em;
}

.aboutContainer article h2 {
  font-style: italic;
  font-family: "Open Sans";
  font-size: 1.5em;
  text-align: center;
  padding-top: 3em;
}
.aboutContainer article p {
  margin-top: 2em;
  font-size: 1em;
  font-family: Arapey;
  font-style: italic;
  font-weight: 600;
}

.underline2 {
  font-size: 1em;
  text-decoration: black wavy underline;
  color: transparent;
}
.menuContainer {
  /*some CSS*/
  background: cadetblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menuSetContainer {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.menuCard {
  border: 1px solid black;
}
.orderContainer {
  /*some CSS*/
}

.footer {
  width: 100vw;
  height: 100vh;
  background: lightblue;
}

/*SMALL PHONES*/
@media (min-width: 480px) {
  .titleContainer h1 {
    font-size: 3em;
  }

  .titleContainer p {
    font-size: 1.4em;
    font-weight: 500;
  }

  .underline {
    font-size: 1.5em;
  }
  .aboutContainer article h2 {
    font-size: 2em;
    padding-top: 1.5em;
  }
}

/*TABLET*/
@media (min-width: 768px) {
  .titleContainer h1 {
    font-size: 5em;
  }

  .titleContainer p {
    font-size: 2em;
    font-weight: 500;
  }

  .underline {
    font-size: 2.2em;
  }
  .aboutContainer article h2 {
    font-size: 3em;
    padding-top: 1.5em;
  }
  .underline2 {
    font-size: 1.7em;
  }

  .aboutContainer article p {
    font-size: 1.3em;
    line-height: 2em;
  }
  .imageContainerAboutTop {
    height: 140px;
  }
  .imageContainerAboutBottom {
    height: 140px;
  }
}

/*LAPTOP AND MORE*/
@media (min-width: 1024px) {
  .titleDiv {
    left: 5%;
    top: 20%;
  }
  .aboutContainer article {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 15em;
  }
  .aboutContainer article h2 {
    font-size: 3em;
    padding-top: 2.6em;
  }
  .imageContainerAboutTop {
    height: 170px;
  }
  .imageContainerAboutBottom {
    height: 170px;
  }
}
