@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Open+Sans:ital,wght@1,800&display=swap");
.container {
  padding: 0;
}

/*All this CSS is for Mobile First. Please use devTools Samsung Galaxy Fold*/
.main {
  /*min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  */
}

