.container {
  padding: 0 2rem;
}

.main {
  /*min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  */
}
.aboutContainer {
  /*some CSS*/
  color: red
}
.menuContainer {
  /*some CSS*/
  color: red
}
.orderContainer {
  /*some CSS*/
}

.footer {
  /*some CSS*/
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
