@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Open+Sans:ital,wght@1,800&display=swap");

.menuContainer {
  /*some CSS*/
  background: #806f5abb;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px;
  position: relative;
}
.menuSetContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menuContainer h2 {
  font-style: italic;
  font-family: "Open Sans";
  padding-top: 1em;
}
.title{
  z-index: 1;
}
.underline {
  font-size: 1em;
  text-decoration: black wavy underline;
  color: transparent;
  z-index: 1;
}
.subTitle {
  font-weight: 800;
  display: block;
  margin-bottom: 1em;
}


.menuCard {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  /* padding: 10px 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 0.25rem;
  box-shadow: 0 20px 20px -3px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.cardTitle {
  padding: 10px 0;
  font-family: "Open Sans";
  font-style: italic;
}
.cardInfoContainer {
  padding: 1em;
}
.bgImage {
  z-index: 0;
  object-fit: cover;
filter:blur(5px);
opacity: 0.5;
  
}
.menuImage{
  border-radius: 0.25rem 0.25rem 0 0;
  max-height:300px;
}

.cardButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1em;
  margin: 0 auto;
  box-shadow: 0 5px 25px -3px rgba(0, 0, 0, 0.25);
}

.cardButton:hover{
  box-shadow:0 5px 10px -3px rgba(0, 0, 0, 0.25);

}

.cardButton:active{
  box-shadow:inset 2px 1px 5px rgba(82, 82, 82, 0.664);
}
.price{
  font-weight: 800;
  padding-top:1em;
}

@media (min-width: 480px) {

}

/*TABLET*/
@media (min-width: 768px) {
  .title {
    font-size:3em;
  }
  .underline {
    font-size: 1.9em;
    padding-bottom:1em;
  }
  
  .menuCard {
    width: 46%;
  }
}

/*LAPTOP AND MORE*/
@media (min-width: 1024px) {
  .title {

  }
  .menuCard {
    width: 22%;
  }
}
